
<idea-plugin>
    <id>python-anticopypaster</id>
    <name>AntiCopyPaster</name>
    <version>1.0</version>

    <description><![CDATA[
	This is a plugin which detects and notifies the user when they copy and paste repeated methods, and offers to refactor their code.
    ]]></description>

    <depends>com.intellij.modules.platform</depends>
    <depends>com.intellij.modules.python</depends>

    <idea-version since-build="211.7628.24"/>

</idea-plugin>